.page-padding{
    padding-left: 8em;
}



@media screen and (max-width: 990px) {
    .testimonial-title{
        /* display: grid;
        justify-content: center;
        padding-bottom: 1rem; */
    }
    .page-padding{
        padding: 0 4rem 0 4rem;
    }
}

@media screen and (max-width: 630px) {
    .testimonial-title{
        padding-left: 1rem;
    }
    .mySlides{
        padding: 0px 50px 8rem;
    }
    .page-padding{
        padding: 1.5rem;
    }
}